<template name="notFound">
    <div class="error-page">
        <div class="error-code m-b-10 m-t-20">404 <i class="fa fa-warning"></i></div>
        <h3 class="font-bold">We couldn't find the page!</h3>

        <div class="error-desc">
            Sorry, but the page you are looking for was either not found or does not exist.<br/>

            <div>
                <br/>
                <a href="{{pathFor 'landingPage'}}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-home"></span>
                    Go back to Home</a>
                <br/><br/>
            </div>
        </div>
    </div>
</template>