<template name="alerts">
    {{#each alerts}}
        {{#if type 'error'}}
            <div class="alert alert-danger alert-dismissable" id="{{_id}}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>{{message}}</strong> {{details}}
            </div>
        {{/if}}
        {{#if type 'warning'}}
            <div class="alert alert-warning alert-dismissable" id="{{_id}}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>{{message}}</strong> {{details}}
            </div>
        {{/if}}
        {{#if type 'info'}}
            <div class="alert alert-info alert-dismissable" id="{{_id}}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>{{message}}</strong> {{details}}
            </div>
        {{/if}}
        {{#if type 'success'}}
            <div class="alert alert-success alert-dismissable" id="{{_id}}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>{{message}}</strong> {{details}}
            </div>
        {{/if}}
    {{/each}}
</template>