<template name="memberMultipleSelect">
    {{#ifEsInputIsEmpty id="userSearch" index="users"}}
        <div class="alert alert-info alert-dismissable">
            Search for users
        </div>
    {{/ifEsInputIsEmpty}}

    {{#ifEsIsSearching id="userSearch" index="users"}}
        <div class="alert alert-info alert-dismissable">
            Loading…
        </div>
    {{else}}
        {{#unless totalResultSetEmpty}}
                {{#esEach id="userSearch" index="users"}}
                <div id="member-multiple-select">
                    <input type="checkbox" value="{{username}}" class="checkbox-multiple-select"  /> {{username}} <br />
                </div>
                {{/esEach}}
        {{/unless}}
    {{/ifEsIsSearching}}

    {{#ifEsHasNoResults id="userSearch" index="users"}}
        <div class="alert alert-danger alert-dismissable">
            No results found!
        </div>
    {{/ifEsHasNoResults}}
</template>