<template name="productPageIncludes">
    <div class="title-box">
        <h2 class="">{{title}}</h2>
    </div>

    <div class="vision-statement">
        {{> vision}}
    </div>
    <div class="row">
        {{#if userIsProductOwner 'productPageIncludes'}}
            <div id="control-project-product-dashboard">
                <a href="{{pathFor 'productEdit'}}" class="btn btn-default"><i class="fa fa-pencil"></i> <strong>Edit
                    project</strong></a>
                <a href="{{pathFor 'invite'}}" class="btn btn-default"><i class="fa fa-group"></i> <strong>Invite users</strong></a>
            </div>
        {{/if}}
    </div>
    <br/>
    {{> productPageNavTabs}}
</template>