<template name="productCreate">
    <div class="page-content">
        <div class="header">
            <h2>New product</h2>
        </div>
        <div class="padding-20 margin-top-20">
            {{#autoForm collection="Products" id="insert-products-form" type="insert"}}
                <div class="control-group">
                    <div class="controls">
                        <div class="input-group">
                            {{> afQuickField name='title' placeholder='Name your product'}}
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="mode">Advanced mode</label>

                    <div class="controls">
                        {{> afQuickField name='advancedMode'}}
                    </div>
                </div>
                {{#if advancedMode 'insert-products-form'}}
                    <div class="control-group">
                        <div class="controls">
                            {{> afQuickField name='vision' placeholder='Clear and stable vision of the product to be developed'}}
                        </div>
                    </div>
                {{/if}}
                <div class="control-group">
                    <div class="controls">
                        <button id="submit-product-create" type="submit" class="btn btn-primary">Submit</button>
                        <a href="{{pathFor 'dashboard'}}" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            {{/autoForm}}
        </div>
    </div>
</template>