<template name="productHistory">
    <div class="list-group">
        {{#each sprints}}
            <a href="{{pathFor 'taskBoardPage' slug=slug startDate=startDateUrlFormatted endDate=endDateUrlFormatted}}" class="list-group-item {{#if isCurrentSprint}}active{{/if}}">
                <h4 class="list-group-item-heading">{{startDateFormatted}}
                    - {{endDateFormatted}}</h4>

                <p class="list-group-item-text">{{goal}}</p>
            </a>
        {{/each}}
    </div>
</template>