<template name="notification">
    <li class="notification-item" style="position: relative;">
        {{#if _.isEqual type 1}}
            <a href="{{pathFor 'conversation' data=conversation}}" class="mark-notification-as-read">
                <div>
                    <div class="avatar pull-left">
                        {{#with user}}
                            <img src="{{avatar}}" alt="{{username}}" width="50" height="50"/>
                        {{/with}}
                    </div>
                    <div class="message">
                        <span class="author">{{author}}</span><span
                            class="rest-message"> sent you a new private message.</span>
                    </div>
                    <div class="timestamp">
                        {{timestamp}}
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </a>
        {{/if}}
        {{#if _.isEqual type 2}}
            <a href="{{pathFor 'invitations'}}" class="mark-notification-as-read">
                <div>
                    <div class="avatar pull-left">
                        {{#with user}}
                            <img src="{{avatar}}" alt="{{username}}" width="50" height="50"/>
                        {{/with}}
                    </div>
                    <div class="message">
                        <span class="author">{{author}}</span><span
                            class="rest-message"> invited you to work on <strong>{{productTitle}}</strong>.</span>
                    </div>
                    <div class="timestamp">
                        {{timestamp}}
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </a>
        {{/if}}
        {{#if _.isEqual type 3}}
            <a href="{{pathFor 'productDashboard' data=product}}" class="mark-notification-as-read">
                <div>
                    <div class="avatar pull-left">
                        {{#with user}}
                            <img src="{{avatar}}" alt="{{username}}" width="50" height="50"/>
                        {{/with}}
                    </div>
                    <div class="message">
                        <span class="author">{{author}}</span><span
                            class="rest-message"> commented on an activity in product <strong>{{productTitle}}</strong>.</span>
                    </div>
                    <div class="timestamp">
                        {{timestamp}}
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </a>
        {{/if}}
    </li>
</template>