<template name="privateMessageText">
    <li class="media">
        {{#if authorIsCurrentUser}}
            {{#with user}}
                <a class="" href="{{pathFor 'profilePage'}}">
                    <img class="media-object img-rounded" src="{{avatar}}" alt="{{username}}">
                </a>
            {{/with}}
        {{else}}
            {{#with user}}
                <a class="pull-left" href="{{pathFor 'profilePage'}}">
                    <img class="media-object img-rounded" src="{{avatar}}" alt="{{username}}">
                </a>
            {{/with}}
        {{/if}}
        <div class="media-body">
            <h4 class="media-heading">
                {{#with user}}
                    <a href="{{pathFor 'profilePage'}}">{{username}}</a>
                {{/with}}
            </h4>
            <p>{{date}}</p>
            <p>{{{text}}}</p>
        </div>
    </li>
</template>