<template name="privateMessageEdit">
    <div class="page-content">
        <div class="panel-default">
            <div class="panel-heading main-page-heading">
                <h3 class="panel-title">Edit message</h3>
            </div>
            <div class="panel-body">
                <form class="main message-standard-form">

                    {{> memberSearch}}

                    {{> memberMultipleSelect}}

                    <button id="add-to-recipients-list" type="button" class="btn btn-warning btn-block">Add to recipients
                        list
                    </button>

                    <div id="panel-recipients" class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="#" id="recipients" rel="popover">Recipients</a>
                                <span class="badge badge-default pull-right">{{totalParticipants}}</span>
                            </h3>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each recipients}}
                                <tr>
                                    <td>{{index}}</td>
                                    <td>{{username}}</td>
                                    <td>
                                        <button class="fa fa-remove remove-recipient" name="{{_id}}"></button>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>


                    <br/>

                    <div class="input-group">
                        <span class="input-group-addon">Subject</span>
                        <input id="subject-input" name="subject" type="text" class="form-control"
                               placeholder="What's the purpose?" value="{{subject}}">
                    </div>
                    <br/>
                    <input type="submit" value="Edit conversation" class="btn btn-primary"/>
                    <a href="{{pathFor 'privateMessagesList'}}" class="btn btn-default btn-sm">Cancel</a>
                </form>
            </div>
        </div>

    </div>
    </template>