<template name="privateMessageItem">
    <div class="panel panel-default message-block">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="{{pathFor 'privateMessage'}}"><span class="subject">{{subject}}</span></a>
                <button type="button" class="btn btn-xs btn-danger fa fa-remove remove-btn {{removeOrLeavePrivateMessage}} {{#if productId}}disabled{{/if}}"></button>
                {{#if userIsAuthor}}
                    <a href="{{pathFor 'privateMessageEdit'}}">
                        <button type="button" class="btn btn-xs btn-default fa fa-pencil edit-conversation"></button>
                    </a>
                {{/if}}
            </h3>
        </div>
        <div class="panel-body">
            {{#each participants}}
                {{#with user}}<a href="{{pathFor 'profilePage'}}"><img class="media-object img-rounded" src="{{avatar}}"
                                                                       alt="{{username}}"></a>{{/with}}
            {{/each}}
            {{#if noParticipants}}
                <span>You are the only one in this conversation.</span>
            {{/if}}
        </div>
    </div>
</template>
