<template name="activityStreamElement">
    <li class="list-group-item">
        <div class="row">
            <div>
                {{#with user}}
                    <a class="pull-left" href="{{pathFor 'profilePage'}}">
                        <img class="media-object img-rounded" src="{{avatar}}" alt="{{username}}" width="30"
                             height="30">
                    </a>
                {{/with}}
                <div>
                    <div>
                        {{#if elType '1'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> created the
                                product with the
                                title {{productTitle}}.</p>
                        {{/if}}
                        {{#if elType '2'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> changed the
                                product title
                                from {{oldProductTitle}} to {{newProductTitle}}.</p>
                        {{/if}}
                        {{#if elType '3'}}
                            <p class="text-info text-information"><b>{{author}}</b> accepted to work
                                as {{roleFormatted}}.</p>
                        {{/if}}
                        {{#if elType '4'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> declined to
                                work
                                as {{roleFormatted}}.</p>
                        {{/if}}
                        {{#if elType '5'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> created the
                                sprint {{sprintGoal}}
                                with the period from {{sprintStartDate}} to {{sprintEndDate}}.</p>
                        {{/if}}
                        {{#if elType '6'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> created the
                                user
                                story {{userStoryTitle}}.</p>
                        {{/if}}
                        {{#if elType '7'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> assigned
                                priority no. {{priority}}
                                for the user story {{userStoryTitle}}.</p>
                        {{/if}}
                        {{#if elType '8'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> created the
                                sticky {{stickyTitle}}
                                for the user story {{userStoryTitle}} in the sprint {{sprintGoal}}.</p>
                        {{/if}}
                        {{#if elType '9'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> moved the
                                sticky {{stickyTitle}}
                                from status {{stickyStatusFormatted 'old'}} to {{stickyStatusFormatted 'new'}}.</p>
                        {{/if}}
                        {{#if elType '10'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> changed the
                                sticky title
                                from {{oldStickyTitle}} to {{newStickyTitle}}.</p>
                        {{/if}}
                        {{#if elType '11'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> changed the
                                sticky description
                                from {{oldStickyDescription}} to {{newStickyDescription}}.</p>
                        {{/if}}
                        {{#if elType '12'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> changed the
                                user story title
                                from {{oldUserStoryTitle}} to {{newUserStoryTitle}}.</p>
                        {{/if}}
                        {{#if elType '13'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> changed the
                                user story description
                                from {{oldUserStoryDescription}} to {{newUserStoryDescription}}.</p>
                        {{/if}}
                        {{#if elType '14'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> removed the
                                sticky {{stickyTitle}}.
                            </p>
                        {{/if}}
                        {{#if elType '15'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> removed the
                                story {{userStoryTitle}}.
                            </p>
                        {{/if}}
                        {{#if elType '16'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> changed the
                                sprint goal
                                from {{oldSprintGoal}} to {{newSprintGoal}}.</p>
                        {{/if}}
                        {{#if elType '17'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> changed the
                                sprint start date
                                from {{oldSprintStartDate}} to {{newSprintStartDate}}.</p>
                        {{/if}}
                        {{#if elType '18'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> changed the
                                sprint end date
                                from {{oldSprintEndDate}} to {{newSprintEndDate}}.</p>
                        {{/if}}
                        {{#if elType '19'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> removed the
                                sprint {{sprintGoal}}.
                            </p>
                        {{/if}}
                        {{#if elType '20'}}
                            <p class="text-info text-information"><span class="author">{{author}}</span> changed the
                                effort from
                                sticky {{stickyTitle}} from {{oldEffort}} to {{newEffort}}.</p>
                        {{/if}}
                        <p class="date margin-left-40">{{timestamp}}</p>
                    </div>
                    <div class="comment-text">
                        <ul class="chat">
                            {{#each comments}}
                                {{> comment}}
                            {{/each}}
                        </ul>
                    </div>
                    <div class="action">
                        {{#afModal formId="insert-comment-form" class="btn btn-primary btn-xs add-comment" collection="Comments" operation="insert" title="Submit a new Comment"}}
                            <i class="fa fa-reply"></i> {{/afModal}}
                    </div>
                </div>
            </div>
        </div>
    </li>
</template>