<template name="activityStreamElement">
    <div class="message-item" id="m16">
        <div class="message-inner">
            <div class="message-head clearfix">
                <div class="message-icon pull-left">
                    {{#with user}}
                        <a class="pull-left" href="{{pathFor 'profilePage'}}">
                            <img class="media-object img-rounded" src="{{avatar}}" alt="{{username}}" width="60"
                                 height="60">
                        </a>
                    {{/with}}
                </div>
                <div class="user-detail">
                    <h5 class="handle">
                        {{#if elType '1'}}
                            Created the product with the title {{productTitle 'productId'}}.
                        {{/if}}
                        {{#if elType '2'}}
                            Changed the product title from {{oldProductTitle}} to {{newProductTitle}}.
                        {{/if}}
                        {{#if elType '3'}}
                            Accepted to work as {{roleFormatted}}.
                        {{/if}}
                        {{#if elType '4'}}
                            Declined to work as {{roleFormatted}}.
                        {{/if}}
                        {{#if elType '5'}}
                            Created the sprint {{sprintGoal}} with the period from {{formattedSprintDate 'sprintStartDate'}}
                            to {{formattedSprintDate 'sprintEndDate'}}.
                        {{/if}}
                        {{#if elType '6'}}
                            Created the user story {{userStoryTitle}}.
                        {{/if}}
                        {{#if elType '7'}}
                            Assigned priority no. {{priority}} for the user story {{userStoryTitle}}.
                        {{/if}}
                        {{#if elType '8'}}
                            Created the sticky {{stickyTitle}} for the user story {{userStoryTitle}} in the
                            sprint {{sprintGoal}}.
                        {{/if}}
                        {{#if elType '9'}}
                            Moved the sticky {{stickyTitle}} from status {{stickyStatusFormatted 'old'}}
                            to {{stickyStatusFormatted 'new'}}.
                        {{/if}}
                        {{#if elType '10'}}
                            Changed the sticky title from {{oldStickyTitle}} to {{newStickyTitle}}.
                        {{/if}}
                        {{#if elType '11'}}
                            Changed the sticky description from {{oldStickyDescription}} to {{newStickyDescription}}.
                        {{/if}}
                        {{#if elType '12'}}
                            Changed the user story title from {{oldUserStoryTitle}} to {{newUserStoryTitle}}.
                        {{/if}}
                        {{#if elType '13'}}
                            Changed the user story description from {{oldUserStoryDescription}}
                            to {{newUserStoryDescription}}.
                        {{/if}}
                        {{#if elType '14'}}
                            Removed the sticky {{stickyTitle}}.
                        {{/if}}
                        {{#if elType '15'}}
                            Removed the story {{userStoryTitle}}.
                        {{/if}}
                        {{#if elType '16'}}
                            Changed the sprint goal from {{oldSprintGoal}} to {{newSprintGoal}}.
                        {{/if}}
                        {{#if elType '17'}}
                            Changed the start date of the sprint with the goal {{sprintGoal}} from {{formattedSprintDate 'oldSprintStartDate'}} to {{formattedSprintDate 'newSprintStartDate'}}.
                        {{/if}}
                        {{#if elType '18'}}
                            Changed the end date of the sprint with the goal {{sprintGoal}} from {{formattedSprintDate 'oldSprintEndDate'}} to {{formattedSprintDate 'newSprintEndDate'}}.
                        {{/if}}
                        {{#if elType '19'}}
                            Removed the sprint {{sprintGoal}}.
                        {{/if}}
                        {{#if elType '20'}}
                            Changed the effort of sticky {{stickyTitle}} from {{oldEffort}} to {{newEffort}}.
                        {{/if}}
                        {{#if elType '21'}}
                            Changed the story points of user story {{userStoryTitle}} from {{formattedStoryPoints 'oldStoryPoints'}}
                            to {{formattedStoryPoints 'newStoryPoints'}}.
                        {{/if}}
                        {{#if elType '22'}}
                            Changed the business value of user story {{userStoryTitle}} from {{oldBusinessValue}}
                            to {{newBusinessValue}}.
                        {{/if}}
                    </h5>

                    <div class="post-author">
                        {{#with user}}
                            <a href="{{pathFor 'profilePage'}}">{{username}}</a>
                        {{/with}}
                    </div>
                    <div class="post-time">
                        <p><i class="fa fa-clock-o"></i> {{fromNow 'updatedAt'}}</p>
                    </div>
                </div>
            </div>
            <div class="qa-message-content">
                <ul class="chat">
                    {{#each comments}}
                        {{> comment}}
                    {{/each}}
                </ul>
                <div class="action">
                    {{#afModal formId="insert-comment-form" class="btn btn-primary btn-xs add-comment" collection="Comments" operation="insert" title="Submit a new Comment"}}
                        Create Comment {{/afModal}}
                </div>
            </div>
        </div>
    </div>
</template>