<template name="settingsPage">
    <div class="page-content">
        <div class="padding-20">
            <div class="settings-page">
                <h3 class="page-header">Settings</h3>
                <div id="personal-info-panel" class="panel panel-default panel-block col-xs-12 col-sm-6">
                    <div class="panel-heading">
                        <h3 class="panel-title">Change personal information</h3>
                    </div>
                    <div class="panel-body">
                        {{> changePersonalInfo}}
                    </div>
                </div>

                <div id="password-panel" class="panel panel-default panel-block col-xs-12 col-sm-5 pull-right">
                    <div class="panel-heading">
                        <h3 class="panel-title">Change password</h3>
                    </div>
                    <div class="panel-body">
                        {{> changePassword}}
                    </div>
                </div>

                <div class="panel panel-default avatar-block col-xs-12 col-sm-6">
                    <div class="panel-heading">
                        <h3 class="panel-title">Avatar</h3>
                    </div>
                    <div id="panel-body-avatar" class="panel-body">
                        {{> editAvatar}}
                    </div>
                </div>

                <div class="panel panel-default color-block col-xs-12 col-sm-5 pull-right">
                    <div class="panel-heading">
                        <h3 class="panel-title">Color</h3>
                    </div>
                    <div id="panel-body-color" class="panel-body">
                        <div class="color-feedback">
                            <div class="sticky-feedback">
                                <div class="header" style="background-color: {{stickyHeaderColor}}">
                                    <span class="">Demo task</span>
                                </div>
                                <div class="sticky-body">
                                </div>
                            </div>
                        </div>
                        <select name="colorpicker-bootstrap3-form" id="colorpicker-bootstrap3-form" class="form-control">
                            <option value="#7bd148">Green</option>
                            <option value="#5484ed">Bold blue</option>
                            <option value="#a4bdfc">Blue</option>
                            <option value="#46d6db">Turquoise</option>
                            <option value="#7ae7bf">Light green</option>
                            <option value="#51b749">Bold green</option>
                            <option value="#fbd75b">Yellow</option>
                            <option value="#ffb878">Orange</option>
                            <option value="#ff887c">Red</option>
                            <option value="#dc2127">Bold red</option>
                            <option value="#dbadff">Purple</option>
                            <option value="#e1e1e1">Gray</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>
