<template name="taskBoard">
    <div id="scrum-board">
        <div id="drag">
            <table class="scrum-board-table">
                <tr class="scrum-board-header">
                    <th class="table-stories table-header mark">Stories</th>
                    <th class="table-plus table-header mark"><!-- empty --></th>
                    <th class="table-to-do table-header mark">Todo - Σ {{sumEffort '1'}} h</th>
                    <th class="table-started table-header mark">Started - Σ {{sumEffort '2'}} h</th>
                    <th class="table-verify table-header mark">Verify - Σ {{sumEffort '3'}} h</th>
                    <th class="table-done table-header mark">Done</th>
                </tr>
                {{#each userStories}}
                    <tr id="{{_id}}" class="story-row">
                        <td class="stories mark">
                            {{> userStory}}
                        </td>
                        <td class="plus mark">
                            {{> newSticky}}
                        </td>
                        <td class="to-do">
                            {{#each stickyType '1'}}
                                {{> sticky}}
                            {{/each}}
                        </td>
                        <td class="started">
                            {{#each stickyType '2'}}
                                {{> sticky}}
                            {{/each}}
                        </td>
                        <td class="verify">
                            {{#each stickyType '3'}}
                                {{> sticky}}
                            {{/each}}
                        </td>
                        <td class="done">
                            {{#each stickyType '4'}}
                                {{> sticky}}
                            {{/each}}
                        </td>
                    </tr>
                {{/each}}
                {{#unless advancedMode}}
                    <tr class="story-row mark">
                        <td class="stories mark">
                            {{#afModal formId="insert-user-story-form" class="btn btn-primary btn-block add-user-story" collection="UserStories" operation="insert" title="Create a new user story"}}
                                <i class="fa fa-plus"></i>{{/afModal}}
                        </td>
                        <td class="plus mark">

                        </td>
                        <td class="to-do mark">

                        </td>
                        <td class="started mark">

                        </td>
                        <td class="verify mark">

                        </td>
                        <td class="done mark">

                        </td>
                    </tr>
                {{/unless}}
            </table>
        </div>
    </div>
</template>