#top-navigation {
  position: fixed;
  z-index: 9999 !important;
  height: 50px;
  width: 100%;
  background-color: #5ccdde;
  border-radius: 0;
  .dropdown-menu {
    position: relative;
    float: right;
    margin-top: 50px;
    left: 55px;
    background-color: #ffffff;
  }
}

.sidebar-top {
  position: absolute;
  width: 220px;
  height: 50px;
  border-right: dotted 1px #c8c8c8;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  .logo {
    margin-top: 3px;
    margin-left: 13px;
  }
  &:hover {
    background-color: #4EAFBD;
  }
}

.avatar-container {
  float: right;
  margin-top: 7px;
  margin-right: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  .avatar-img {
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}

.settings {
  position: absolute;
  right: 70px;
  margin-top: 7px;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: auto;
}

.settings-img {
  margin-top: 5px;
  margin-left: 5px;
}

.navbar-form {
  position: absolute;
  right: 200px;
}

@media (max-width: 992px) {
  .sidebar-top {
    width: 70px;
    height: 50px;
    border-right: dotted 1px #c8c8c8;
  }
  #top-navigation .dropdown-menu {
    position: relative !important;
    float: right  !important;
    right: 0 !important;
    left: -165px !important;
    margin-top: 50px !important;
    width: 100px !important;
    background-color: #ffffff !important;
  }
}

@media (min-width: 992px) {
  .sidebar-top {
    width: 220px;
    height: 50px;
    border-right: dotted 1px #c8c8c8;
  }
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Flip around the padding for proper display in narrow viewports */

.navbar-content {
  width: 320px;
  padding: 15px;
  padding-bottom: 0px;
  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
  }
}

.navbar-nav.navbar-right:last-child {
  margin-right: 15px !important;
}

.navbar-footer {
  background-color: #DDD;
}

.navbar-footer-content {
  padding: 15px 15px 15px 15px;
}

.dropdown-menu {
  padding: 0px;
  overflow: hidden;
}

.profile-img-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  img {
    width: 100%;
    &:hover {
      opacity: 0.5;
    }
  }
  &:hover a {
    opacity: 1;
    top: 0;
    z-index: 500;
    span {
      top: 50%;
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(-50%);
    }
  }
  a {
    display: block;
    position: absolute;
    top: -100%;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
  }
}