.img-profile {
  float: left;
  margin-top: 10px;
  margin-right: 15px;
}

#profile-roles-polar-area-chart, #profile-products-doughnut-charts {
  width: 60%;
  height: 230px;
  margin: 0 auto;
  padding-top: 20px;
}

#profile-activity-overview-bar-chart {
  width: 96%;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
}