table {
  width: 100%;
}

.story {
  width: 120px;
}

.story-formatted {
  float: left;
  margin: 20px;
}

.story-priority {
  float: left;
}

#new-priority-field {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB2aWV3Qm94ID0gIjAgMCA0MjggMTAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiA8Zz4gIDx0aXRsZT5iYWNrZ3JvdW5kPC90aXRsZT4gIDxyZWN0IGZpbGw9Im5vbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSIxMDIiIHdpZHRoPSI0MzAiIHk9Ii0xIiB4PSItMSIvPiAgPGcgZGlzcGxheT0ibm9uZSIgb3ZlcmZsb3c9InZpc2libGUiIHk9IjAiIHg9IjAiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIGlkPSJjYW52YXNHcmlkIj4gICA8cmVjdCBmaWxsPSJ0ZWFsIiBzdHJva2Utd2lkdGg9IjAiIHk9IjEiIHg9IjEiIGhlaWdodD0iNDAwIiB3aWR0aD0iNTgwIi8+ICA8L2c+IDwvZz4gPGc+ICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+ICA8dGV4dCBzdHJva2U9IiMwMDAiIHRyYW5zZm9ybT0ibWF0cml4KDEuMjI2MDYgMCAwIDEuMjI2MDYgLTI0Ljc1MzMgLTQ2LjY4NzkpIiBvcGFjaXR5PSIwLjMiIGZvbnQtc3R5bGU9Iml0YWxpYyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgdGV4dC1hbmNob3I9ImxlZnQiIGZvbnQtZmFtaWx5PSJIZWx2ZXRpY2EsIEFyaWFsLCBzYW5zLXNlcmlmIiBmb250LXNpemU9IjI0IiBpZD0ic3ZnXzEiIHk9Ijg3LjE1MDM2NiIgeD0iMjIuMjI4MzkzIiBzdHJva2Utd2lkdGg9IjAiIGZpbGw9IiMwMDAwMDAiPkRyb3AgdXNlciBzdG9yeSBoZXJlIHRvIHByaW9yaXRpemUuPC90ZXh0PiA8L2c+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80% 60px;
  border-top: dotted 2px #ccc;
}

.delete-sprint, .edit-sprint {
  float: right;
}

.edit-sprint {
  margin-right: 5px;
}