select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.scrum-board-table {
  width: 100%;
  background-color: #fcf8e3;
}

.scrum-board-header {
  background-color: #e1e1e1;
  z-index: 100;
}

.table-stories, .table-plus, .table-to-do, .table-started, .table-verify, .table-done {
  height: 40px;
  background-color: #e1e1e1;
  text-align: center;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}

td {
  .to-do, .started, .verify, .done {
    padding: 5px;
  }
}

.table-plus, .plus {
  width: 40px;
  background-color: #e1e1e1;
  padding: 5px;
}

.stories {
  width: 200px;
  min-width: 120px;
  .story {
    width: 80%;
    margin: 0 auto;
    p {
      font-size: 0.85em;
    }
  }
}

.panel-title {
  font-weight: bold;
  text-align: center;
}

.editable-click {
  border: none;
}

.sticky-element {
  width: 150px;
  float: left;
  margin: 5px;
  p {
    font-size: 0.85em;
  }
  .editable-empty {
    border: none;
  }
  .assigned-to {
    font-size: 0.85em;
  }
}

.add-user-story {
  display: block;
  margin: 15px auto;
}

.table-header {
  background-color: #eeeeee !important;
}

.popover {
  padding: 1px 1px 0 1px;
  color: #000000 !important;
  .popover-title {
    font-size: 0.90em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    padding-bottom: 2px;
    padding-top: 2px;
  }
  .input-small {
    background-color: #eeeeee;
    border: solid 1px #eeeeee;
  }
}

.glyphicon-ok {
  top: -2px;
  font-size: 1.1em;
}

i.glyphicon-remove {
  top: -1px;
  font-size: 1.1em;
}

#control-project-task-board {
  float: right;
  margin-top: 15px;
  margin-right: 5px;
}

#control-project-product-dashboard {
  float: right;
}

.add-user-story {
  width: 20%;
}