<template name="productEdit">
    <div class="row">
        {{#with product}}
            <div class="single-form col-md-6 col-md-offset-3">
                <button id="delete-product" type="button"
                        class="btn btn-danger btn-xs pull-right single-button-h2-single-form">Delete product
                </button>
                <h2>Edit Product</h2>
                <hr/>
                {{#autoForm collection="Products" id="update-product-form" type="update" doc=this}}
                    <div class="form-group">
                        {{> afQuickField name='title' placeholder='Name your product'}}
                    </div>
                    {{#if advancedMode}}
                        <div class="form-group">
                            {{> afQuickField name='vision' placeholder='Clear and stable vision of the product to be developed'}}
                        </div>
                    {{/if}}
                    <div class="form-group">
                        <button id="submit-product-Update" type="submit" class="btn btn-primary">Submit</button>
                        <a href="{{pathFor 'productDashboard'}}" class="btn btn-default btn-xs">Cancel</a>
                    </div>
                {{/autoForm}}
            </div>
        {{/with}}
    </div>
</template>