<template name="changePassword">
    {{#autoForm schema=changePasswordSchema id="change-password-form" type="method" meteormethod="changeUserPassword"}}
        <div class="navbar-content">
            <div id="change-password-form" class="row">
                <div class="form-group">
                    {{> afQuickField name="newPassword" type="password"}}
                </div>
                <div class="form-group">
                    {{> afQuickField name="passwordConfirmation" type="password"}}
                </div>
                <div class="form-group">
                    {{> afQuickField name="currentPassword" type="password"}}
                </div>
            </div>
        </div>
        <div class="navbar-footer">
            <div class="navbar-footer-content">
                <div class="row">
                    <div class="col-md-6">
                        <button id="back-to-team-overview" type="button" class="btn btn-default btn-sm"><i
                                class="fa fa-hand-o-left"></i></button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary pull-right">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    {{/autoForm}}
</template>