<template name="changePassword">
    <div class="change-password">
        <form action="/settings" id="change-password-form" method="post">
            <div class="form-group">
                <input class="password form-control" id="new-password" name="password" placeholder="New Password"
                       type="password">
            </div>
            <div class="form-group">
                <input class="password-confirm form-control" id="new-password-confirm" name="password-confirm"
                       placeholder="Confirm" type="password">
            </div>
            <div class="form-group">
                <input class="password form-control" id="current-password" name="password" placeholder="Old Password"
                       type="password">
            </div>
            <input class="btn btn-primary btn-block" type="submit" value="Change Password">
        </form>
    </div>
</template>