<template name="register">
    <div id="authentication-wrapper">
        <div id="register">
            {{#autoForm schema=registerSchema id="register-form" type="method" meteormethod="doUserRegister"}}
                <div class="athentication-header">
                    <p>REGISTER</p>
                </div>
                <div class="padding-20">
                    <div class="form-group">
                        {{> afQuickField name="username"}}
                    </div>
                    <div class="form-group">
                        {{> afQuickField name="password" type="password"}}
                    </div>
                    <div class="form-group">
                        {{> afQuickField name="passwordConfirmation" type="password"}}
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-block" type="submit" value="Join Scrumpy">
                    </div>
                </div>
            {{/autoForm}}
        </div>
    </div>
</template>