<template name="comment">

    {{#with user}}
        <a class="pull-left" href="{{pathFor 'profilePage'}}">
            <img class="media-object img-rounded" src="{{avatar}}" alt="{{username}}" width="30" height="30">
        </a>
    {{/with}}
    <div class="comment-header margin-left-40">
        <li class="no-style">
            <span class="author">{{#with user}}{{username}}{{/with}}</span>
            <span class="date">on {{submittedFormatted}}</span>
        </li>
        {{#if productOwnerOrOwnerOfComment}}
            <button type="button" class="fa fa-trash btn btn-danger btn-xs delete-comment"></button>
            <button type="button" class="fa fa-pencil-square-o btn btn-default btn-xs edit-comment"></button>
            <br>
        {{/if}}
    </div>


    {{#if editComment}}
        {{#autoForm collection="Comments" id="update-comment-form" type="update" doc=this}}
            <div class="control-group">
                <div class="controls">
                    <div class="input-group">
                        {{> afQuickField name='body'}}
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button name="submit-product-update" type="submit"
                            class="fa fa-check btn btn-success btn-xs edit-comment-submit"></button>
                    <button name="edit-comment-cancel" type="button"
                            class="fa fa-remove btn btn-default btn-xs edit-comment-cancel"></button>
                </div>
            </div>
        {{/autoForm}}
    {{else}}
        <div class="commentBody">
            <p>{{body}}</p>
        </div>
    {{/if}}

</template>