<template name="comment">
    <li>
        <div class="comment-body">{{body}}
            <div class="comment-author">&mdash;
                {{#with user}}
                    <a href="{{pathFor 'profilePage'}}"><strong>{{username}}</strong></a>
                {{/with}}
            </div>
        </div>
        <div class="post-time">
            <i class="fa fa-clock-o"></i> {{fromNow 'updatedAt'}}
            {{#if productOwnerOrOwnerOfComment}}
                <div class="comment-action">
                    <a href="" class="fa fa-trash delete-comment"></a>
                    {{#afModal formId="update-user-story-form" class="fa fa-pencil edit-comment" collection="Comments" operation="update" title="Update your comment" doc=_id}}{{/afModal}}
                </div>
            {{/if}}
        </div>
    </li>
</template>