<template name="userStory">
    <div class="panel panel-default story {{dragClass}}" id="{{_id}}">
        <div class="panel-heading">
            <h3 class="panel-title">{{titleShort 'story'}}</h3>
        </div>
        <div class="panel-body">
            <p>{{description}}</p>

            <div class="user-story-footer">
                <div class="sticky-controls">
                    <div class="control-wrapper">
                        <button class="fa fa-remove btn btn-danger btn-xs delete-user-story"></button>
                        {{#afModal formId="update-user-story-form" class="fa fa-pencil btn btn-warning btn-xs edit-user-story nodrag" collection="UserStories" operation="update" title="Update user story" doc=_id}}{{/afModal}}
                        <button id="show-info-user-story-{{_id}}"
                                class="fa fa-info-circle btn btn-default btn-xs show-info-user-story"></button>
                        <div id="popover-content-{{_id}}" style="display: none">
                            <p>
                                <b>Created by:</b> {{userIdFormatted}}<br/>
                                {{#if _.has this 'lastEditedBy'}}<b>Last edited by:</b> {{lastEditedByFormatted}}
                                    <br/>{{/if}}
                                <b>Created at:</b> {{createdAt}}<br/>
                                <b>Updated at:</b> {{updatedAt}}<br/>
                                {{#if _.has this 'storyPoints'}}<b>Story points:</b> {{storyPoints}}
                                    <br/>{{/if}}
                                {{#if _.has this 'businessValue'}}<b>Business value:</b> {{businessValue}} /
                                    1000{{/if}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>