<template name="landingPage">
    <div class="container-full">
        <div class="github-fork-ribbon-wrapper left">
            <div class="github-fork-ribbon">
                <a href="https://github.com/MatthiasEckhart/Scrumpy" target="_blank">Fork Scrumpy</a>
            </div>
        </div>
        <div class="row">
            <div id="particles-js"></div>
            <div class="col-lg-12 text-center v-center">
                <h1>Welcome to <strong>Scrumpy</strong></h1>

                <p class="lead">An Agile Project Management Tool Designed to Skyrocket Your Team’s Productivity</p>
                <br/><br/><br/>

                <form class="col-lg-12">
                    <a href="{{pathFor 'register'}}" class="btn btn-lg btn-success register-button" type="button">Register</a>
                    <a href="{{pathFor 'login'}}" class="btn btn-lg btn-primary login-button" type="button">Login</a>
                </form>
            </div>
        </div>
        <br/><br/><br/><br/><br/>
    </div>
    <div id="landing-page-content" class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>About Scrumpy</h3></div>
                    <div class="panel-body">
                        <p class="landing-page-panel-description">Scrumpy is a <strong>free real-time</strong>, <strong>web-based
                            Scrum tool</strong>, designed to
                            <strong>skyrocket your Scrum team’s
                                productivity</strong>. Scrumpy servers as an <strong>all-in-one solution</strong>, as
                            well
                            as an <strong>auxiliary tool</strong> which
                            supports even teams who only want to visualise their work via a <strong>task board</strong>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Read the Paper</h3></div>
                    <div class="panel-body"><p class="landing-page-panel-description">This tool is part of a <strong>research
                        project</strong>, conducted by the <a href="http://www.fh-joanneum.at/?lan=en" target="_blank">University
                        of Applied Sciences JOANNEUM</a>, that aims at investigating flaws regarding the use of <strong>Scrum
                        tools</strong>. The results from our study will
                        be published by <strong>Springer Verlag</strong> and presented at the <a
                                href="https://2016.software-quality-days.com/en/" target="_blank">Software Quality Days
                            2016</a> conference in <strong>Vienna</strong>.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Contribute</h3></div>
                    <div class="panel-body">
                        <p class="landing-page-panel-description">
                            Scrumpy is <strong>open-source software</strong> and <strong>free</strong> to use. Our code
                            is hosted on <a
                                href="https://github.com/MatthiasEckhart/Scrumpy" target="_blank">GitHub</a>.
                            You can <strong>contribute</strong> to the project by <strong>reporting bugs</strong>,
                            <strong>suggesting new features</strong> or by
                            <strong>submitting
                                pull requests</strong>. If you have any questions, please contact us via email at:
                            Matthias [dot] Eckhart [at] fh-joanneum.at.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <br/><br/>

                <p class="pull-right">
                    <iframe src="https://ghbtns.com/github-btn.html?user=MatthiasEckhart&repo=Scrumpy&type=star&count=true&size=large"
                            frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                </p>
            </div>
        </div>
    </div>
</template>