<template name="landingPage">
    <div class="container-full">

        <div class="row">
            <div id="particles-js"></div>

            <div class="col-lg-12 text-center v-center">

                <h1>Welcome to <strong>Scrumpy</strong></h1>

                <p class="lead">An Agile Project Management Tool Designed to Skyrocket Your Team’s Productivity</p>

                <br><br><br>

                <form class="col-lg-12">
                    <a href="{{pathFor 'register'}}" class="btn btn-lg btn-success register-button" type="button">Register</a>
                    <a href="{{pathFor 'login'}}" class="btn btn-lg btn-primary login-button" type="button">Login</a>
                </form>
            </div>

        </div>
        <!-- /row -->

        <br><br><br><br><br>

    </div>
    <!-- /container full -->

    <div class="container">

        <hr>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>About Scrumpy</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet
                        felis
                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan.
                        Aliquam in felis sit amet augue.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Read the Paper</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet
                        felis
                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan.
                        Aliquam in felis sit amet augue.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>FH JOANNEUM</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet
                        felis
                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor
                        accumsan.
                        Aliquam in felis sit amet augue.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <br><br>

                <p class="pull-right">
                    <iframe src="https://ghbtns.com/github-btn.html?user=MatthiasEckhart&repo=Scrumpy&type=star&count=true&size=large"
                            frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                </p>
                <br><br>
            </div>
        </div>
    </div>
</template>