<template name="sprintCreate">
    {{#autoForm collection="Sprints" id="insert-sprint-form" type="insert" doc=this}}
        <div class="input-group">
            {{> afQuickField name='startDate'}}
        </div>
        <div class="input-group">
            {{> afQuickField name='endDate'}}
        </div>
        <div class="input-group">
            {{> afQuickField name='goal' placeholder='Specify your sprint goal.'}}
        </div>
        <button id="submit-sprint-create" type="submit" class="btn btn-primary">Create Sprint</button>
    {{/autoForm}}
</template>