<template name="sprintPlanning">
    {{#with product}}
        <div class="row" id="drag">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Add story</h4>
                    </div>
                    <div class="panel-body">
                        {{#autoForm collection="UserStories" id="insert-user-story-form" type="insert" doc=productForAutoForm}}
                            <div class="form-group">
                                {{> afQuickField name='title'}}
                            </div>

                            <div class="form-group">
                                {{> afQuickField name='description'}}
                            </div>

                            <div class="form-group">
                                {{> afQuickField name='storyPoints'}}
                            </div>

                            <div class="form-group">
                                {{> afQuickField name='businessValue'}}
                            </div>

                            <button id="submit-user-story-create" type="submit" class="btn btn-primary">Create User
                                Story
                            </button>
                        {{/autoForm}}
                    </div>
                </div>
                <hr/>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>User Stories</h4>
                    </div>
                    <div class="panel-body">
                        <div>
                            <table>
                                <tr>
                                    <td class="user-stories-no-prioritization" style="width: 100px; height: 100px;">
                                        {{#each userStoriesNoPrioritization}}
                                            {{> userStory}}
                                        {{/each}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Product Backlog</h4>
                    </div>
                    <div class="panel-body">
                        <div>
                            <table>
                                {{#each userStoriesProductBacklog}}
                                    <tr>
                                        <td id="{{priority}}" class="user-stories-product-backlog"
                                            style="width: 100px; height: 100px;">
                                                <span class="story-priority">
                                                    {{priority}}
                                                </span>
                                            {{> userStory}}
                                        </td>
                                    </tr>
                                {{/each}}
                                <tr>
                                    <td id="new-priority-field" class="user-stories-product-backlog-new-field"
                                        style="width: 100px; height: 100px;">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4>Add sprint</h4></div>
                    <div class="panel-body">
                        {{> sprintCreate}}
                    </div>
                </div>
                <hr/>
                {{#each sprints}}
                    {{> sprint}}
                {{/each}}
            </div>
        </div>
    {{/with}}
</template>