<template name="invite">
    <div class="page-content">
        <div class="header">
            <h2>Invite users</h2>
        </div>
        <div class="padding-20 margin-top-20">
            {{#autoForm schema=userInvitationFormSchema id="insert-invitations-form" type="method" meteormethod="userInvitation"}}
                {{#if advancedMode 'insert-products-form'}}
                    <div class="control-group">
                        <label class="control-label" for="mode">Scrum Master Team</label>

                        <div class="controls">
                            {{> afFieldInput name="scrumMaster" type="select2" multiple=true}}
                        </div>
                    </div>
                {{/if}}

                <div class="control-group">
                    <label class="control-label" for="mode">Development Team</label>

                    <div class="controls">
                        {{> afFieldInput name="developmentTeam" type="select2" multiple=true}}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="invite" type="submit" class="btn btn-primary">Invite</button>
                        <button id="skip" type="button" class="btn btn-default btn-xs">{{textForCancelButton}}</button>
                    </div>
                </div>
            {{/autoForm}}
        </div>
    </div>
</template>