<template name="invite">
    {{#with product}}
        <div class="row">
            <div class="single-form col-md-6 col-md-offset-3">
                {{#unless noInvitations}}
                    <a href="{{pathFor 'productInvitations'}}"
                       class="btn btn-default btn-xs pull-right single-button-h2-single-form">Manage Invitations</a>
                {{/unless}}
                <h2>Invite Users</h2>
                <hr/>
                {{#autoForm schema=userInvitationFormSchema id="insert-invitations-form" type="method" meteormethod="userInvitation" doc=this}}
                    {{#if advancedMode 'insert-products-form'}}
                        <div class="form-group">
                            <label for="scrumMaster">Scrum Master</label>
                            {{> afFieldInput name="scrumMaster" type="select2" multiple=true}}
                        </div>
                    {{/if}}
                    <div class="form-group">
                        <label for="developmentTeam">Development Team</label>
                        {{> afFieldInput name="developmentTeam" type="select2" multiple=true}}
                    </div>
                    <button id="invite" type="submit" class="btn btn-primary">Invite</button>
                    <button id="skip" type="button"
                            class="btn btn-default btn-xs">{{textForCancelButton}}</button>
                {{/autoForm}}
            </div>
        </div>
    {{/with}}
</template>