<template name="dashboardContent">
    {{#if currentUser}}
        <div id="first-wrapper">
            <div class="info-content effect">
                <div class="info-icon blue">
                    <span class="fa fa-check-circle"></span>

                    <div id="total-tasks-completed" class="visual-sugar-block">
                        <div class="visual-sugar">
                            <div class="sugar">
                                <span class="plus-sign fa fa-plus"></span>
                                <span class="counter">A</span>
                            </div>
                            <span class="visual-sugar-text">PLACEHOLDER 1</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-content effect">
                <div class="info-icon green">
                    <span class="fa fa-user"></span>

                    <div id="total-users" class="visual-sugar-block">
                        <div class="visual-sugar">
                            <div class="sugar">
                                <span class="plus-sign fa fa-plus"></span>
                                <span class="counter">B</span>
                            </div>
                            <span class="visual-sugar-text">PLACEHOLDER 2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-content effect">
                <div class="info-icon orange">
                    <span class="fa fa-cubes"></span>

                    <div id="total-projects" class="visual-sugar-block">
                        <div class="visual-sugar">
                            <div class="sugar">
                                <span class="plus-sign fa fa-plus"></span>
                                <span class="counter">C</span>
                            </div>
                            <span class="visual-sugar-text">PLACEHOLDER 3</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-content effect">
                <div class="info-icon red">
                    <span class="fa fa-university"></span>

                    <div id="total-organizations" class="visual-sugar-block">
                        <div class="visual-sugar">
                            <div class="sugar">
                                <span class="plus-sign fa fa-plus"></span>
                                <span class="counter">D</span>
                            </div>
                            <span class="visual-sugar-text">PLACEHOLDER 4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="second-wrapper">
            {{#if oneProductExist}}
                <div id="statistics-wrapper">
                    <div class="header">
                        <p class="header-title">Work done (h) for product {{productStatTitle 'productStat'}}</p>
                    </div>
                    <div class="statistics-content">
                        {{> dashboardLineChart}}
                    </div>
                    <div class="statistics-info">
                        <span class="statistics-info-data">Open tasks</span>
                        <span class="statistics-cipher">1</span>
                    </div>
                    <div class="statistics-info">
                        <span class="statistics-info-data">Tasks assigned</span>
                        <span class="statistics-cipher">2</span>
                    </div>
                    <div class="statistics-info">
                        <span class="statistics-info-data">Tasks completed</span>
                        <span class="statistics-cipher">3</span>
                    </div>
                </div>
            {{/if}}
            <div id="product-wrapper" class="">
                <div class="header">
                    <p class="header-title">Products</p>
                </div>
                <div class="product-content">
                    {{#if emptyProducts}}
                        <a href="{{pathFor 'productCreate'}}">
                            <div class="product-empty">
                                <p class="text-center">Start by creating a new product</p>

                            </div>
                        </a>
                    {{else}}
                        {{#each products}}
                            {{> productItem}}
                        {{/each}}

                        {{#if nextPath}}
                            <a class="load-more" href="{{nextPath}}">Load more</a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    {{/if}}
</template>