<template name="profilePage">
    <div class="page-content-profile">
        <div class="cover-picture">
            <div class="cover-picture-shadow">
                {{#if noAvatar 'profile'}}
                    <div class="profile-pic-wrapper">
                        <img class="profile-img" src="{{defaultAvatar}}" alt="{{username}}"/>
                    </div>

                {{else}}
                    <div class="profile-pic-wrapper">
                        <img class="profile-img" src="{{profile.image}}" alt="{{username}}"/>
                    </div>
                {{/if}}

                <div class="display-name">
                    <span class="display-username">{{username}}</span>
                </div>
            </div>
        </div>

        {{#if personalInfoAvailable}}
            <div class="panel panel-default">
                <div class="panel-heading">Personal information</div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Organization</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{firstName}}</td>
                        <td>{{lastName}}</td>
                        <td>{{organization}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {{/if}}

        <div class="statistics-wrapper">
            {{#if statDataAvailable}}
                <div class="statistics-profile-block">
                    <div class="header">
                        <p class="statistics-header-title">Roles</p>
                    </div>
                    <div class="statistics-profile-content">
                        {{> profileRolesPolarAreaChart}}
                    </div>
                </div>

                <div class="statistics-profile-block">
                    <div class="header">
                        <p class="statistics-header-title">Products</p>
                    </div>
                    <div class="statistics-profile-content">
                        {{> profileProductsDoughnutChart}}
                    </div>
                </div>

                <div class="statistics-profile-block">
                    <div class="header">
                        <p class="statistics-header-title">Activity overview (created)</p>
                    </div>
                    <div class="statistics-profile-content">
                        {{> profileActivityOverviewBarChart}}
                    </div>
                </div>
            {{/if}}
        </div>

    </div>
</template>