/* CSS crunched with Crunch - http://crunchapp.net/ */
/** Shades of grey **/
/** Screen resolution **/
/** Font settings **/
iframe.wysihtml5-sandbox {
  width: 350px!important;
}
form.main {
  background-color: #f9f9f9;
  margin: 30px auto;
  padding-bottom: 20px;
  border: solid 1px #eeeeee;
  border-radius: 3px;
  width: 400px!important;
}
form.main h2 {
  margin-left: 20px;
  margin-top: 0!important;
}
form.main #title-input {
  border-radius: 0 50px 50px 0!important;
}
form.main .alert,
form.main .alert-info,
form.main .alert-dismissable {
  position: relative;
  top: 10px;
  left: 0;
  width: 100%;
}
form.main #select-multiple-product {
  position: relative;
  top: 10px;
  width: 100%;
  border-radius: 4px 4px 0 0;
  border: solid 1px #e1e1e1;
}
form.main .select-multiple-user-element {
  font-size: 1.1em;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  outline: none;
  border: 1px solid #DDDDDD;
  background-color: #C9EFF9;
}
form.main #member-multiple-select {
  background-color: #4FC1E9;
  padding: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 4px;
}
form.main button.glyphicon:nth-child(1) {
  border: none;
  border-radius: 5px;
}
form.main #add-to-development-team {
  width: 100%!important;
  position: relative!important;
}
input#userSearch[type=text],
input#title-input[type=text],
textarea#userSearch,
textarea#title-input {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}
input#userSearch[type=text]:focus,
input#title-input[type=text]:focus,
textarea#userSearch:focus,
textarea#title-input:focus,
#vision-input:focus {
  box-shadow: 0 0 5px #51cbee !important;
  border: 1px solid #51cbee !important;
}
div.col-md-6:nth-child(2) {
  padding-left: 0;
}
.form-control-feedback {
  visibility: hidden;
}
/* colors */
#panel-administrator > div:nth-child(1) {
  background-color: #A0D468;
}
#panel-development-team > div:nth-child(1) {
  background-color: #FFCE54;
}
.input-group-addon {
  background-color: #AAB2BD;
}
textarea {
  resize: none;
}
#assign-as-scrum-master {
  position: relative;
  width: 100%!important;
  right: 0;
  bottom: 0;
  margin-top: 10px;
}
